<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title> Botones</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary">
                <ion-icon name="heart"> </ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button size="small" expand="full">Small</ion-button>
    <ion-button size="default" expand="full"> default</ion-button>
    <ion-button size="large" expand="full"> large</ion-button>

    <!-- Navegador-->
    <ion-button class="Top-20" expand="full" routerLink="/alert" color="tertiary">
        Holiwis
    </ion-button>

    <ion-row class="Top-20">
        <ion-col>
            <ion-button expand="full" routerLink="/alert" color="tertiary">
                Alert
            </ion-button>

        </ion-col>
        <ion-col>
            <ion-button expand="full" routerLink="/inicio" color="tertiary">
                Inicio
            </ion-button>
        </ion-col>
    </ion-row>

    <!--FIll-->
    <ion-button class="Top-20" fill="clear">Clear</ion-button>
    <ion-button class="Top-20" fill="outline">Outline</ion-button>
    <ion-button class="Top-20" fill="solid">Solid </ion-button>
</ion-content>