<app-header titulo="Card"></app-header>

<ion-content>

    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>

    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon color="light" slot="start" name="pin"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur ex vel obcaecati numquam, reiciendis reprehenderit qui minima beatae voluptate recusandae adipisci dicta laudantium ut at in labore, consequuntur temporibus quae!
        </ion-card-content>
    </ion-card>
    <ion-card>
        <img src="/assets/shapes.svg">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem a, ea placeat quibusdam tenetur eum laborum odio vero, reiciendis explicabo vitae natus. Eaque nulla quis distinctio, ipsa neque incidunt dicta!
        </ion-card-content>
    </ion-card>
</ion-content>