<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Avatar</ion-title>
        <ion-buttons slot="end">
            <ion-avatar>
                <img src="/assets/Img/back.jpg">
            </ion-avatar>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- tipo de en linea -->
    <ion-chip *ngFor="let i of [1,1,1,1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/Img/back.jpg">
        </ion-avatar>
        <ion-label>hi </ion-label>
    </ion-chip>

    <ion-list>
        <ion-item *ngFor="let i of [1,1,1,1,1,1]">
            <ion-avatar>
                <img src="/assets/Img/back.jpg">
            </ion-avatar>
            <ion-label>satan </ion-label>
        </ion-item>
    </ion-list>
</ion-content>